<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="about">
        <h2 class="mx-auto text-center mt-5">本当に退会しますか</h2>
      <h6 class="mx-auto text-center mt-4 mb-3">
        退会すると、会員登録や<br>
        これまでの投稿が閲覧できなくなります。<br>
        退会する場合は、「退会する」をクリックしてください。
      </h6>
      <div style="text-align:center">
      <%= link_to "退会しない", public_customers_path, class: 'btn btn-outline-primary' %>
      <%= link_to "退会する", public_customers_withdrawal_path, method: :patch, data: { confilm: "本当に退会しますか？" }, class: 'btn btn-outline-danger' %>
      </div>
   </div>
  </div>
</div>
</div>