<div class="col-2 mt-3">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="text-center text-success">Genre</th>
      </tr>
    </thead>
  <% @genres.each do |genre| %>
    <tbody>
      <tr>
        <td><%= link_to genre.genre_name, public_plants_path %></td>
      </tr>
    </tbody>
  <% end %>
  </table>
</div>