<div class= "ml-5">
  <h2>Follower User</h2>
  <% if @customers.exists? %>
    <%= render '/customers/list', customers: @customers %> 
  <% else %>
    <p>There are no users</p>
    <strong><%= link_to "Users", public_customers_path %></strong>
  <% end %>
</div>