<div class= "ml-5">
  <% if @model == 'customer' %>
    <h3>Customers search for "<%= @content %>"</h3>
      <%= render 'public/customers/list', customers: @records %>
  <% elsif @model == 'plant' %>
	<h3>Plants search for "<%= @content %>"</h3>
	  <div class="container">
      <div class="row justify-content-around">
        <div class="col-10 mx-2"> 
          <%= render 'public/plants/list', plants: @records %>
        </div>
      </div>  
    </div>    
  <% end %>
</div>