<div class="container mt-2">
  <div class="row">
    <div class="col-md-12">
      <div class="about">
        <h1 class="mx-auto text-center"><strong>About</strong></h1>
        <h6 class="mx-auto text-center"><strong>「観葉植物の魅力」</strong>について共有するサイトです。<br>
          観葉植物には、リラックス効果や室内の空気を浄化する効果もあり<br>
          室内の空気がきれいになるという研究結果もあります。<br>
          また、様々な種類があるため、インテリアに合わせたデザインが可能で<br>
          植物を置くことで、空間に自然な雰囲気を与えることができます。<br>
          皆さんも観葉植物を取り入れて、生活をより豊かにしてみてはいかがでしょうか。
        </h6>
        <div style="text-align:center;">
        <%= image_tag 'plant_image.jpg',class:"img-fluid", width: 600, height: 390 %>
        </div>
      </div>
    </div>
  </div>
</div>