<div class="container mt-5">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <div class="about">
        <h1>welcome to
          <strong>Botanical Club!!</strong></h1>
            <p>In
              <i class="fas fa-leaf"></i>
          <strong>Botanical Club</strong>
            </p>
            <p>Let's Share the Charm of Indoor Plants on SNS Communities</p>
      </div>
    </div>
  </div>
</div>