<footer>
      <div class="container mt-3">
        <div class="row">
          <div class="mx-auto">
          
            <p>CopyRight<strong><%= link_to "AutumnLeaf",new_admin_session_path,class: 'nav-link text-dark' %></strong>.inc</p>
            
            
            
            <!--</p>CopyRight AutumnLeaf.inc</p>-->
            
            
          
          </div>
        </div>
      </div>
    </footer>